nav.responsive {
    background-color: black;
}
nav.responsive .nav-head {
    height: 4rem;
    padding: 0.5rem;
}
nav.responsive .nav-menu {
    z-index: 1;
    background: black;
    padding: 0.5rem 2rem;
    position: absolute;
    left: 0;
    width: 14rem;
    top: 0;
    bottom: 0;
}
.viewport {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
.window {
    height: 100%;
    width: 100%;
    left: 0%;
    position: absolute;
}
.screen {
    width: 100%;
    position: absolute;
    left: 14rem;
    top: 0;
    bottom: 0;
}